*, *::after, *:before {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 70vh;
}

.title {
    margin-top: 2em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    height: 30vh;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

.grid{
    width: 200px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: lightgrey;
}
.grid div{
    height: 20px;
    width: 20px;
}